{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block main %}
    <h2>Products</h2>
    <p>
    {% if products %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-6 mb-4">
            <div class="product-item card h-100">
                <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}" class="card-img-top product-image">
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <p class="card-text">Price per unit: {{ "%.2f"|format(product.price_per_unit) }} TikToken</p>
                    <p class="card-text">Available Quantity: {{ product.quantity }}</p>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <div class="mb-3">
                            <label for="quantity-{{ product.id }}">Quantity:</label>
                            <input type="number" id="quantity-{{ product.id }}" name="quantity" min="1" max="{{ product.quantity }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </p>
    {% else %}
    <p>No products available.</p>
    {% endif %}
{% endblock %}
